aiofiles==22.1.0
aiosqlite==0.19.0
altgraph==0.17.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
asttokens==2.2.1
attrs==23.1.0
auto-py-to-exe==2.34.0
av==10.0.0
azureml==0.2.7
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
brotlipy @ file:///D:/bld/brotlipy_1666764804378/work
cefpython3==66.1
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1671179506518/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click==8.1.3
clr-loader==0.2.5
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.1.3
conda==23.1.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1669733752472/work
contourpy==1.0.7
cryptography @ file:///D:/bld/cryptography-split_1679811386218/work
customtkinter==5.1.3
cycler==0.11.0
darkdetect==0.8.0
datatable @ file:///C:/Users/daniel.camacho/Downloads/datatable-1.1.0a0%2Bpr3444.2236-cp310-cp310-win_amd64.whl#sha256=f8b9d58683630ddebc27ee5d612d59a9934b6ca88c241adee2a6a47b43c17502
debugpy==1.6.7
decorator==4.4.2
defusedxml==0.7.1
Django==4.2.1
Eel==0.16.0
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.3
Flask==2.3.2
fonttools==4.39.4
fqdn==1.5.1
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
gunicorn==20.1.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.30.0
imageio-ffmpeg==0.4.8
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.4
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.1
jupyterthemes==0.20.0
kiwisolver==1.4.4
lesscpy==0.15.1
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
menuinst @ file:///D:/bld/menuinst_1666839998718/work
mistune==2.0.5
moviepy==1.0.3
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
notebook==6.5.4
notebook_shim==0.2.2
numpy==1.24.3
opencv-python-headless==4.7.0.72
openpyxl==3.1.2
packaging==23.1
pafy==0.5.5
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
plotly==5.14.1
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
ply==3.11
proglog==0.1.10
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proxy-tools==0.1.0
psutil==5.9.5
pure-eval==0.2.2
pycosat @ file:///D:/bld/pycosat_1666836675990/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments==2.15.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyodbc==4.0.39
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.8.2
python-json-logger==2.0.7
pythonnet==3.0.1
pytube==15.0.0
pytube3==9.6.4
pytz==2023.3
pywebview==4.1
pywin32==306
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1680286922386/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1678273308128/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1670412994006/work
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post5
sniffio==1.3.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
statsmodels==0.14.0
tenacity==8.2.2
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tkinterweb==3.18.14
tkVideo==0.1
tkvideoplayer==2.3
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets==5.9.0
typing_extensions==4.6.2
tzdata==2023.3
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.6
whichcraft==0.6.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
y-py==0.5.9
ypy-websocket==0.8.2
zope.event==4.6
zope.interface==6.0
zstandard==0.19.0
